<!DOCTYPE html>
<html th:replace = "~{base::parent(~{::#content},~{::title},~{})}" lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id = "content">
        <form th:action = "@{'/authenticate'}" method = "post" th:object = "${loginForm}" class="max-w-md mx-auto border-t border-gray-700 rounded-t-lg p-6 shadow-lg"
              novalidate>
            <div th:replace = "displaymessage::msg">
            </div>
            <p class="block mb-2 text-2xl font-bold text-gray-900 dark:text-white">Login!</p>
            <div class="mb-5">
                <label for="email" class = "block mb-2 text-sm  text-gray-900 dark:text-white" >Your email</label>
                <input th:field = "*{email}" type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name@gmail.com" required />
                <p data-th-if = "${#fields.hasErrors('email')}"
                   data-th-error = "*{email}"
                   class  = "block text-red-600 px-1 py-2">please enter a valid email</p>
            </div>
            <div class="mb-5">
                <label for="password" class = "block mb-2 text-sm  text-gray-900 dark:text-white">Your password</label>
                <input th:field = "*{password}" type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
                <p data-th-if = "${#fields.hasErrors('password')}"
                   data-th-error = "*{password}"
                   class  = "block text-red-600 px-1 py-2">please enter password</p>
            </div>
            <div class="flex justify-center space-x-3">
                <button type="submit" class="text-white bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
            </div>
        </form>
    </div>
</body>
</html>